<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Caja.Properties.Settings.DbCajaConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DbCaja.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsIntegracionSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsIntegracionSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44388/wsIntegracion.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsIntegracionSoap"
                contract="wsIntegracion.wsIntegracionSoap" name="wsIntegracionSoap" />
        </client>
    </system.serviceModel>
</configuration>