################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Banco/v17/.wsuo
/Caja/.vs/Caja/FileContentIndex/9947e61a-a794-4ede-b73e-ef6b3dc76eca.vsidx
/Int/.vs/Int/FileContentIndex
