<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsCoreSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCoreSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44315/wsCore.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsCoreSoap" contract="SRCore.wsCoreSoap"
                name="wsCoreSoap" />
        </client>
    </system.serviceModel>
</configuration>